<br>
<br>
<h3 align="center">Search Result for  "Spring Boot" Traning</h3><br><br>
<table align="center" id="companyList">
  <tr>

    <th>Image</th>
  <th>Trainer Name</th>
  <th>Average Rating</th>
  <th>Training Details</th>
  <th>Training Course</th>
  
  
  </tr>
  <tr>
    <td><img  src="/assets/images/spring.png" /></td>
    <td>Senthil Kumar</td>
    <td>5.0</td>
    <td>Date:09-06-2019 Time:9 to 6 </td>
    <td>Spring</td>
    
    
    </tr>
    <tr>
        <td><img  src="/assets/images/spring.png" /></td>
        <td>Prasanna Ranjith/td>
        <td>4.6</td>
        <td>Date:09-06-2019 Time:12 to 6 </td>
        <td>Hibernate</td>
        
        
        </tr>
        <tr>
            <td><img  src="/assets/images/spring.png" /></td>
            <td>Kumarathi Selvi</td>
            <td>3.4/td>
            <td>Date:09-06-2019 Time:3 to 6 </td>
            <td>Spring</td>
            
            
            </tr>
    
    <br><br>
    
    
    
    </table><br>
    